<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'games/style.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 bg-info"></div>
    <div class="col-8 bg-danger">
      <!-- Navbar -->
      <nav class="navbar-expand-sm bg-dark navbar-dark">
        <div class="row">
          <div class="col-4 d-flex justify-content-center">
            <a href="" class="navbar-brand"><img src="{% static 'games/images/logo.png' %}" alt="Logo" style="width:200px;"></a>
          </div>
          <div class="col-8">
            <form class="form-inline pt-3" action="/action_page.php">
              <div class="input-group w-75">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-prepend">
                  <button class="input-group-text"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <ul class="navbar-nav justify-content-center">
          
          <li class="navbar-item">
            <a href="" class="nav-link">Link 1</a>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 2</a>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 3</a>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 4</a>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 5</a>
          </li>

          <li class="navbar-item dropdown">
            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbardrop">Dropdown Link</a>
            <div class="dropdown-menu">
              <a href="" class="dropdown-item">Drop Link 1</a>
              <a href="" class="dropdown-item">Drop Link 2</a>
              <a href="" class="dropdown-item">Drop Link 3</a>
              <a href="" class="dropdown-item">Drop Link 4</a>
            </div>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 6</a>
          </li>

          <li class="navbar-item">
            <a href="" class="nav-link">Link 7</a>
          </li>
        </ul>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
      <!-- Navbar End-->
      {% block content %}
      {% endblock %}
        <!-- Footer -->
      <footer class="page-footer bg-light pt-4">

        <!-- Footer Elements -->
        <div class="container">

          <!-- Social buttons -->
          <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
              <a class="m-3 text-dark">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="m-3 text-dark">
                <i class="fab fa-twitter fa-2x"> </i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="m-3 text-dark">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="m-3 text-dark">
                <i class="fab fa-whatsapp fa-2x"></i>
              </a>
            </li>
          </ul>
          <!-- Social buttons -->

        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="text-center py-3">© 2022 Copyright:
          <a href=""> gamescam.com</a>
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->
    </div>
    <div class="col-2 bg-success"></div>
    </div>
  
</div>



</body>
</html>
