<h1>{{ game.name }}</h1>
{% load static %}
<img src="{% static 'games/Gimgs/'%}{{game.slug}}.jpg" alt="My image" width="400" height="200">



<ul>
    {% for comment in game.comment_set.all %}
        <li>
            {{ comment.author }}: {{ comment.text }}
        </li>
    {% endfor %}
</ul>

<form action="{% url 'games:comment' game.id %}" method="post">
    {% csrf_token %}

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John"><br>
    <label for="comment">Comment:</label><br>
    <textarea name="comment" id="comment" cols="30" rows="5"></textarea><br>
    <input type="submit" value="Submit">
    
</form> 