<h1>{{ game.name }}</h1>
<ul>
    {% for comment in game.comment_set.all %}
        <li>
            {{ comment.text }}
        </li>
    {% endfor %}
</ul>

<form action="{% url 'games:comment' game.id %}" method="post">
    {% csrf_token %}

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" value="John"><br>
    <label for="comment">Comment:</label><br>
    <input type="text" id="comment" name="comment" value="lol"><br>
    <input type="submit" value="Submit">
    
</form> 