{% extends "base.html" %}

{% block title %}Gamescam{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-9 bg-success">
                col 9
                <div class="row row-cols-3">
                    <div class="col pb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://thiscatdoesnotexist.com/" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-center">Some quick example</p>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://thiscatdoesnotexist.com/" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-center">Some quick example</p>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://thiscatdoesnotexist.com/" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-center">Some quick example</p>
                            </div>
                        </div>
                    </div>
                    <div class="col pb-3">
                        <div class="card">
                            <img class="card-img-top" src="https://thiscatdoesnotexist.com/" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text text-center">Some quick example</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 bg-warning">fdasfdas</div>
        </div>
    </div>
{% endblock %}