{% extends "base.html" %}

{% block title %}Gamescam{% endblock %}

{% load static %}

{% block content %}
    
                <div class="row row-cols-3">
                    {% if game_list %}

                        {% for game in game_list %}
                            <div class="col pb-3">
                                <div class="card bg-light">
                                    <a href="{% url 'gameplay' game.slug %}">
                                        <img class="card-img-top" style="height: 10rem;" src="{{ game.thumbnail.url }}" alt="Card image cap">
                                    </a>
                                    <div class="card-body p-1">
                                        <a href="{% url 'gameplay' game.slug %}">
                                            <p class="card-text text-center mb-0"><b>{{ game.name }}</b></p>
                                        </a>
                                        <a href="">
                                            <p class="mb-0">{{ game.author.username }}</p>
                                        </a>
                                        <div class="d-flex">
                                            <div class="py-1 px-2"><i class="far fa-eye">{{ game.viewcount }}</i></div>
                                            <div class="py-1 px-2 mr-auto"><i class="far fa-thumbs-up">%{{ game.likerate }}</i></div>
                                            <div class="py-1">{{ game.age }} ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    {% else %}
                        <p>No Games</p>
                    {% endif %}                    
                </div>
            
{% endblock %}